<h1>Projects</h1>
<mat-divider></mat-divider>
<br />

<div
  fxLayout="row wrap"
  fxLayout.xs="column"
  fxLayoutGap="30px"
  fxLayoutAlign="center"
>
  <div fxFlex="30" fxFlex.sm="25" *ngFor="let experience of experiences">
    <mat-card class="example-card">
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-content>
        <p>This card has divider and indeterminate progress as footer</p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae
          tenetur optio laborum est ab animi sequi illo, quam cupiditate aliquam
          dolorem reiciendis excepturi voluptatum nostrum, id, voluptatem
          ducimus unde nobis
        </p>
      </mat-card-content>
      <mat-divider inset></mat-divider>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
      <mat-card-footer>
        <mat-progress-bar
          mode="indeterminate"
          color="accent"
        ></mat-progress-bar>
      </mat-card-footer>
    </mat-card>
  </div>
</div>
