<h1 fxLayoutAlign="center">Resume</h1>
<mat-divider></mat-divider>
<br />

<div
  fxLayout="row wrap"
  fxLayout.xs="column"
  fxLayoutGap="30px"
  fxLayoutAlign="center"
>
  <div fxFlex="30" fxFlex.sm="85" *ngFor="let experience of experiences">
    <app-card-experience [experience]="experience"></app-card-experience>
  </div>
</div>

<div class="form" fxlayout="row" fxLayoutGap="80" fxLayoutAlign="center">
  <div fxFlex="50" fxLayout="column" fxLayoutAlign="center">
    <mat-form-field fxFlex="100">
      <mat-label> Experience number to update</mat-label>
      <input [(ngModel)]="newExperience.id" matInput type="number" />
    </mat-form-field>

    <mat-form-field fxFlex="100">
      <mat-label>Company</mat-label>
      <input
        [(ngModel)]="newExperience.empresa"
        matInput
        type="text"
        required
      />
    </mat-form-field>

    <mat-form-field fxFlex="100">
      <mat-label>Job Position</mat-label>
      <input
        [(ngModel)]="newExperience.posicion"
        matInput
        type="text"
        required
      />
    </mat-form-field>

    <mat-form-field fxFlex="100">
      <mat-label>Description</mat-label>
      <input
        [(ngModel)]="newExperience.descripcion"
        matInput
        type="text"
        required
      />
    </mat-form-field>

    <mat-form-field fxFlex="100">
      <mat-label>From</mat-label>
      <input [(ngModel)]="newExperience.desde" matInput type="text" required />
    </mat-form-field>

    <mat-form-field fxFlex="100">
      <mat-label>Until</mat-label>
      <input [(ngModel)]="newExperience.hasta" matInput type="text" required />
    </mat-form-field>

    <br />

    <div fxLayoutGap="20">
      <button mat-raised-button (click)="saveExperience()">
        <mat-icon>edit</mat-icon>
        Save Experience
      </button>

      <button mat-raised-button (click)="saveExperience()">
        <mat-icon></mat-icon>
        Update Experience
      </button>
    </div>
  </div>
</div>
