<mat-card class="animate__animated animate__backInUp">
  <mat-card-header>
    <mat-card-title
      >{{ project.id }}-

      {{ project.nombre }}</mat-card-title
    >
  </mat-card-header>

  <img mat-card-image src="{{ project.picture }}" alt="" />

  <mat-card-content>
    <h3>
      <strong>{{ project.descripcion }}</strong>
    </h3>
    <br />
    <p>Technologies used</p>
    <strong> {{ project.tecnologias }}</strong>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="warn">
      <a href="https://{{ project.url }}" target="_blank">Visit.....</a>
    </button>

    <button
      mat-raised-button
      color="warn"
      (click)="deleteItem(project.id)"
      [disabled]="!active"
    >
      DELETE
    </button>
  </mat-card-actions>
  <mat-card-footer>
    <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
  </mat-card-footer>
</mat-card>
