<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="push">
    <mat-toolbar>
      <span>Menu</span>
      <span class="spacer"></span>

      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>

    <mat-nav-list>
      <a routerLink="./projects" mat-list-item (click)="sidenav.toggle()">
        <mat-icon mat-list-icon>business_center</mat-icon>
        <span> Projects </span>
      </a>

      <a routerLink="./skills" mat-list-item (click)="sidenav.toggle()">
        <mat-icon mat-list-icon>stars</mat-icon>
        <span> Skills </span>
      </a>

      <a routerLink="./education" mat-list-item (click)="sidenav.toggle()">
        <mat-icon mat-list-icon>school</mat-icon>
        <span> Education </span>
      </a>

      <a routerLink="./experiences" mat-list-item (click)="sidenav.toggle()">
        <mat-icon mat-list-icon>label</mat-icon>
        <span> Experiences </span>
      </a>

      <a routerLink="./" mat-list-item (click)="sidenav.toggle()">
        <mat-icon mat-list-icon>home</mat-icon>
        <span> Home </span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="spacer"></span>
    <div class="socialMedia">
      <a href="https://www.instagram.com/francodamian555/">
        <i class="fa-brands fa-instagram"></i
      ></a>
      <a href="https://www.linkedin.com/in/franco-brandan/">
        <i class="fa-brands fa-linkedin-in"></i>
      </a>
      <a href="https://github.com/brandanfranco">
        <i class="fa-brands fa-github"></i>
      </a>
    </div>

    <span class="spacer"></span>
    <span>Welcome {{ nombreUsuario }} </span>

    <button mat-button (click)="logout()">Logout</button>
  </mat-toolbar>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
