<mat-card class="animate__animated animate__backInUp">
  <mat-card-subtitle
    >{{ education.id }}
    <br />
    {{ education.certificacion }}</mat-card-subtitle
  >
  <mat-card-title>{{ education.instituto }}</mat-card-title>

  <mat-divider inset></mat-divider>
  <mat-card-actions>
    <button
      mat-raised-button
      color="warn"
      (click)="deleteEducation(education.id)"
      [disabled]="!active"
    >
      DELETE
    </button>
  </mat-card-actions>
  <mat-card-footer>
    <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
  </mat-card-footer>
</mat-card>
