mat-card {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  height: 100vh;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.aboutMe {
  position: absolute;
  top: 25%;
  color: rgb(208, 188, 188);
}
