mat-card {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  height: 100vh;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.aboutMe {
  position: absolute;
  top: 10%;
  color: rgba(194, 200, 204);
  margin: 50px 60px;
  font-family: verdana, arial, helvetica;
  line-height: 38px;
  font-size: 20px;
}
