<mat-grid-list cols="1" rowHeight="450px">
  <mat-grid-tile-header>
    <div class="animate__animated animate__backInDown animate__delay-4s">
      <img
        src="https://www.espacioprofundo.com/adjuntos/monthly_2021_07/575668572_FondoPantalla3.0-copia.png.ee1595c3f7201878dfb2ead65cf0509d.png"
      />
    </div>
  </mat-grid-tile-header>
  <mat-grid-tile>
    <h1>¡Welcome to My Portfolio!</h1>
  </mat-grid-tile>
</mat-grid-list>

<div class="animate__animated animate__backInDown animate__delay-4s">
  <button mat-stroked-button color="warn" class="button">
    <a routerLink="/auth/register"> Register </a>
  </button>
</div>

<div class="animate__animated animate__backInDown animate__delay-4s">
  <button mat-stroked-button color="warn" class="button">
    <a routerLink="/auth/login"> Login </a>
  </button>
</div>
<div class="animate__animated animate__backInDown animate__delay-4s">
  <button mat-stroked-button color="warn" class="button">
    <a routerLink="/portfolio/"> Already Logged </a>
  </button>
</div>
